@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potvrda e-maila";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />


<a class="btn btn-primary" asp-area="" asp-controller="Todolist" asp-action="Index">Pokreni se :)</a>